<h2>Několik užitečných odkazů pro začátek</h2>

<a href="https://github.com/spseol/flask-start-onefile/blob/master/README.md">README</a>

<ul>
<li><a href="https://flask.palletsprojects.com/">Flask</a></li>
<li><a href="https://flask.palletsprojects.com/quickstart/">Flask Quick start</a></li>
<li><a href="https://flask.palletsprojects.com/patterns/flashing/">Message Flashing</a></li>
<li><a href="https://jinja.palletsprojects.com/templates/">Template Designer Documentation</a></li>
<li><a href="https://gist.github.com/MarrekNozka/5f8860465f79b5d39a6aea3b211c4aab#file-urls_and_paths-md">Flask: URLs and paths in request object</a></li>
</ul>
<hr />
<ul>
<li><a href="https://exploreflask.com/">Explore Flask</a></li>
<li><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world">The Flask Mega-Tutorial</a></li>
</ul>
<hr />
<ul>
<li><a href="https://github.com/pyvec/elsa">https://github.com/pyvec/elsa</a></li>
<li><a href="https://github.com/smoqadam/PyFladesk">https://github.com/smoqadam/PyFladesk</a></li>
<li><a href="https://github.com/ClimenteA/flaskwebgui">https://github.com/ClimenteA/flaskwebgui</a></li>
<li><a href="https://elc.github.io/posts/executable-flask-pyinstaller/">https://elc.github.io/posts/executable-flask-pyinstaller/</a></li>
</ul>
<hr />
<ul>
<li><a href="https://www.jakpsatweb.cz/">Jak psát web</a> </li>
<li><a href="https://www.w3schools.com/">w3schools.com</a> </li>
<li><a href="https://www.blabot.cz/">Blábot</a></li>
<li><a href="http://www.clker.com/">Clker.com</a>, <a href="https://commons.wikimedia.org">Commons</a></li>
<li><a href="https://pixabay.com/">pixabay</a>, <a href="https://unsplash.com/">Unsplash</a></li>
</ul>

