{% extends 'base.html' %}

{%block title%}Url Shortener{%endblock%}

{% block obsah %}
<form class="url_form" method="post">

  <table>
    <tr>
      <td>url:</td>
      <td><input type="text" name="url_long"></td>
    </tr>
      <td>short url:</td>
      {% if short_url%}
      <td>{{url_for('base', _external=True)}}{{short_url}}</td>
      {% endif %}
      <tr>
      <td>code:</td>
            {% if short_url%}
      <td>{{short_url}}</td>
      {% endif %}
      </tr>
    <tr>
      <td><button>Shorten</button></td>
    </tr>

  </table>

{% for long_url, short_url in response|reverse %}
<div class="urls">
<p class="url">url: <a class="hidden" href="{{long_url}}">{{long_url}}</a></p>
<p class="url">short url: <a class="hidden" href="{{url_for('base', _external=True)}}{{short_url}}">{{url_for('base', _external=True)}}{{short_url}}</a></p>
<p class="url">code: <a class="hidden" href="{{url_for('base', _external=True)}}{{short_url}}">{{short_url}}</a></p>
</div>
{% endfor %}

{% endblock obsah %}
